<!-- <app-menu
  (addTask)="updateData()"
  (searchTask)="filterTask($event)"
  (refreshData)="updateData()"
  (removeAllData)="clearBoard()"
></app-menu> -->
<app-menu></app-menu>
<button (click)="sortBystatus()">Sort by status</button>
<div class="select-block">
  Choose user
  <select
    *ngIf="users.length > 0"
    name="usersSelect"
    id="usersSelect"
    appSelect
  >
    <option *ngFor="let user of users" value="{{ user.id }}">
      {{ user.username }}
    </option>
  </select>
</div>

<h2 class="tasks-title">TASKS</h2>
<div class="boardmenu">
  <div class="borader-nav">
    <div class="username">USER</div>
    <div class="title">TITLE</div>
    <div class="status">STATUS</div>
    <div class="modifyers">MODIFIERS</div>
  </div>
</div>

<div *ngIf="tasks.length > 0; else no_data">
  <div *ngFor="let task of tasks" id="{{ task.id }}" class="task">
    <div class="user-name">{{ task.user ? task.user.username : "" }}</div>
    <input class="title" disabled [(ngModel)]="task.title" />
    <div
      class="status-task"
      (click)="changeStatus(task)"
      [ngClass]="{ completed: task.completed }"
    >
      <div *ngIf="task.completed; else no_status">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </div>
    </div>
    <div class="modifyers">
      <button appEdRemBtn class="addBtn editMode">edit</button>
      <button class="remBtn" (click)="deleteTask(task.id)">remove</button>
    </div>
  </div>
</div>
<div *ngIf="users.length > 0; else no_data">
  <table>
    <caption class="users-title">
      USERS
    </caption>
    <thead>
      <tr class="user">
        <td>ID</td>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" id="user-{{ user.id }}" class="user">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #no_data>Nodata</ng-template>
<ng-template #no_status>
  <fa-icon [icon]="['fas', 'xmark']"></fa-icon
></ng-template>
