@import "../../app.component.scss";
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .calc-board {
    width: 30vw;
    height: 50vh;
    border: 1px solid $black;
    padding: 1em 1.5em 1.5em 1.5em;
    background-color: $grey;
    .board-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &.dark {
      background-color: $black;
      color: $grey;
    }
  }
}
